
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');


// Define fonts for body and headers
$body-font:  'Inter', sans-serif;
$headers-font:  'Inter', sans-serif;

a {
  text-decoration: none !important;
}

h2 {
  font-weight: 700 !important;
  font-size: 16px !important;
}

p {
  font-weight: 400 !important;
  font-size: 14px !important;
}

b, strong {
  font-weight: 700 !important;
}
