<div class="container">
  <div class="site-navigation">
    <%= link_to products_path do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <h2 class="site-navigation-title">Your Favorites <i class="fa fa-heart"></i></h2>
  </div>

  <div class="products row">
      <% @favorites.each do |fav| %>
        <div class="col-6">
          <%= link_to product_path(fav) do %>
            <div class="product-card">
              <div class="product-information">
                <h2 class="product-title"><%= fav.product.title %></h2>
                <p class="product-price">$<%= fav.product.price %></p>
              </div>
              <div class="favorite-button">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
