.chatroom-card {
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.77);
  box-shadow: 0px 10px 20px rgba(35, 35, 35, .2);
  text-decoration: none;
  color: black !important;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.message-user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-card-text {
  text-decoration: none;
  color: black !important;
}

.black {
  color:black !important;
}

.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: lightcoral;
}

.receiver-style {
  background-color: lightblue;
}
