/*USER INFO ON TOP OF HOME PAGE*/
.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;

  .user-img {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(35,35,35,.2);
  }

  span {
    font-weight: 300;
  }
}

/*SEARCH*/
.search {
  // position: fixed
  // box-shadow: 0px 5px 10px rgba(35,35,35,.15);

  width: 100%;
  top: 0;
  padding: 15px;
  z-index: 10;
}

.search-bar {
  display: flex;

  .form-control {
    padding: 0.55em 1em;
    background: #fff;
    border: 1px solid #21305e5c;
    border-radius: 100px;
  }

  .submit-button {
    position: absolute;
    right: 0;
  }
}

.search-filter {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0px;
  overflow-x: scroll;


  label {
    margin-bottom: 0;
  }

  .filter-search-button {
    position: relative;

    input {
      position: absolute;
      min-width: 100% !important;
      min-height: 100% !important;
      top: 0 !important;
      left: 0 !important;
    }

  }
}
input[type="checkbox" i]  {
  background-color: transparent;
  appearance: initial;
}

/*CATEGORIES*/
.categories {
  margin: 25px 0px;
}

/*PRODUCT CARD*/
.products {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 1rem;
}

.product-card {
  border-radius: 8px;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(35, 35, 35, .15);
}

.product-information {
  padding: 10px;

  .product-title {
    color: #1d284b;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .product-price {
    color: #1d284b;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
  }
}

.product-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: none;
}

.product-img:first-child {
  display: block;
}

.product-img-chatcard {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.favorite-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: #1d284b;
    font-size: 12px;
  }
}


/*SPOTTED*/
.spotted-label {
  background-color: #ffca26;
  color: #fff;
  padding: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  font-weight: 700 !important;
  position: absolute;
  width: 50%;
  top: 0;
  border-radius: 8px;
  padding: 5px;
  justify-content: center;

  p {
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 16px !important;
    margin-bottom: 0px;
  }
}
