.product-show-edit-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.product-show-title {
  font-weight: 700 !important;
  font-size: 24px !important;
  max-width: 90%;
  text-transform: capitalize;
}

.product-show-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-show-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-show-favorite-button {
  width: 35px;
  display: flex;
  height: 35px;
  border: 2px solid #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  i {
    color: #000;
  }
}

.price {
  font-weight: 700 !important;
  font-size: 30px !important;
  margin-top: -15px;
  margin-bottom: 0px;
}


/*PRODUCT IMAGES*/
.product-show-img, .carousel-img img  {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
}

.carousel-item {
  transition: none;
}
