<%= render "layouts/navbar" %>
  <div class="container">
    <div class= "row-ms">
      <div class= "col-ms">
        <p>dibs</p>
          <div class="a">
            <a href="https://placehold.jp"><img src="https://placehold.jp/300x300.png"></a>

          </div>
        </div>
      </div>
    </div>
  <%= render "layouts/footer" %>
