.button {
  color: #fff;
  background-color: #000;
  border-radius: 100px;
  box-shadow: 0px 5px 10px rgba(35,35,35,.2);
  padding: 0.65em 1.25em;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.button-large {
  font-size: 18px !important;
}
