.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.popup-title {
  font-size: 18px !important;
  font-weight: 700 !important;
  margin-top: 15px;
  color: #1d284b !important;
  text-decoration: none !important;
}

.popup-address {
  font-size: 14px !important;
  font-weight: 300 !important;
  margin-bottom: 5px;
  color: #1d284b !important;
  text-decoration: none !important;
}
