.site-navigation {
  display: flex;
  gap: 35px;
  align-items: baseline;
  margin-bottom: 15px;
  color: #1d284b;

  i {
    color: #1d284b;
    font-size: 24px;
  }
}

.site-navigation-title {
  font-size: 24px !important;
  font-weight: 700 !important;
}
