<div class="container">
  <div class="site-navigation">
    <%= link_to :back do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <h2 class="site-navigation-title">Edit <%= @product.title %></h2>
  </div>
  <%= render "form", product: @product %>
</div>
