<div class="container" data-controller="product-form">
  <div class="site-navigation">
    <%= link_to :back do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <h2 class="site-navigation-title">Create a new Product</h2>
  </div>

  <div data-product-form-target="options">
    <div class="option" data-action="click->product-form#showForm" data-form-type="regular">
      <i class="fa-solid fa-couch create-product-icon"></i>
      <h2 class="create-product-title">Your Item</h2>
    </div>
    <div class="option"  data-action="click->product-form#showForm" data-form-type="spotted">
      <i class="fa-solid fa-location-dot create-product-icon"></i>
      <h2 class="create-product-title">Spotted Item</h2>
    </div>
  </div>

  <div class="d-none" data-product-form-target="regularForm">
    <%= render "form", product: @product %>
  </div>
  <div class="d-none"   data-product-form-target="spottedForm">
    <%= render "spottedform", product: @product %>
  </div>
</div>
