<div class="footer-bg">
  <div class="footer nav-container">
    <div class="footer">
      <a href="#"><i class="fa fa-home"></i></a>
      <a href="#"><i class="fa fa-search"></i></a>
      <a href="#"><i class="fa fa-plus-circle"></i></a>
      <a href="#"><i class="fa fa-envelope"></i></a>
      <a href="#"><i class="fa fa-user"></i></a>
    </div>
  </div>
</div>
