<div class="footer-bg">
  <div class="footer nav-container">
    <div class="footer-center">
      <a href="#"><i class="fab fa-home"></i></a>
      <a href="#"><i class="fab fa-search"></i></a>
      <a href="#"><i class="fab fa-plus-circle"></i></a>
      <a href="#"><i class="fab fa-envelope-o "></i></a>
      <a href="#"><i class="fab fa-user"></i></a>
    </div>
    <div class="footer-copyright">
      dibs <i class="fas fa-heart"></i>
    </div>
  </div>
</div>
