<div class="footer">
  <div class="container">
      <div class="footer-container">
        <a href="/products"><i class="fa fa-home"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
        <a href="/products/new"><i class="fa fa-plus-circle"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a>
        <a href="/users/show"><i class="fa fa-user"></i></a>
    </div>
  </div>
</div>
